/* 
                ####################
                    Home - Page
                ####################
*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-section);
    color: var(--text-h);
    height: 95vh;
}

.hero-half-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.hero-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#hero-line {
    width: 95%;
    border: 0.5px solid var(--text-h);
    margin-top: 50px;
}

.hero-moyenne {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 50%;
    height: 20vh;
}

.all-moyenne {
    display: flex;
    flex-direction: column;
    font-family: var(--main-headline);
}
.span-moyenne {
    font-size: 32px;
    font-weight: 500;
}

#ours-services {
    display: flex;
    flex-direction: column;
    background-color: var(--second-section);
    min-height: 70vh;
    gap: 4rem;
}

#information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--paragraph);
    color: var(--text);
    gap: 1rem;
    border-bottom: 0.3px solid var(--third-section);
}

.information-service {
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 60px;
    gap: 0.3rem;
}
.information-service .information-service-icon {
    display: flex;
    align-items: center;
}

.information-service .information-service-text {
    display: flex;
    align-items: center;
    width: 75%;

}

#ours-services #the-services {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#the-services {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.the-services-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#service-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.card-of-service-provider {
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    border: 0.5px solid #77b5fe;
    background-color: var(--bg);
    border-radius: 5px;
    width: 25%;
}
.card-of-service-provider .card-of-service-provider-price {
    margin-top: 25px;
    font-weight: 550;
    color: var(--primary-section);
}

#simple-process {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 1rem;
    z-index: 1;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        display: inline-block;
        position: absolute;
        background-color: var(--third-section);
        top: 50%;
    }
}

.simple-process-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
}

.simple-process-card-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: larger;
    font-weight: 550;
}

.more-flex {
    color: var(--text-h);
    background-color: var(--primary-section);
    font-family: var(--paragraph);
}
#except-mode {
    color: var(--primary-section);
    font-family: var(--paragraph);
    border: 0.5px solid var(--third-section);
}

#to-get-started {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-section);
    padding: 40px;
}

.to-get-started-text {
    width: 40%;
    color: var(--text-h);
}

.to-get-started-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}